# -----------------------
# FOLDERS
# -----------------------
__pycache__/
examples/dutch_lists/__pycache__/
.vscode

# -----------------------
# FILES
# -----------------------
examples/dutch_lists/SmartBrute.py